<p> <b>Controller Operation</b></p>
    <b> Transient</b> @ViewBag.Transient<br>
    <b>Scoped</b> @ViewBag.Scoped<br>
    <b>Singleton</b> @ViewBag.Singleton<br>
    <b>Instance</b> @ViewBag.SingletonInstance<br> 
<p><b> Operation Service Operation</b></p>
    <b>Transient</b> @ViewBag.Service1<br>
    <b>Scoped</b> @ViewBag.Service2<br>
    <b>Singleton</b> @ViewBag.Service3<br>
    <b>Instance</b> @ViewBag.Service4<br>
